<div id="container">
    <h3>Team Profile: {{ team.teamName}}</h3>

    <div id="profile" style="float: left">
        <table>
            <tr>
                <td><h4>Team Name</h4></td>
                <td><h4>Team ID</h4></td>
            </tr>
            <tr>
                <td>{{ team.teamName}}</td>
                <td>{{ team.teamId}}</td>
            </tr>
        </table>

        <br/>
        <button ng-click="getNotMembersByTeamId(team.teamId)">invite users</button>
        <button ng-click="getBookmarksByTeamId(team.teamId)">show bookmarks</button>

    </div>

    <div id="invite" style="float: left; display: none; padding: 5px">
            Search: <input type="text" ng-model="searchText">

            <table border="1">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
                <tr ng-repeat="user in users |  filter:searchText | orderBy:'firstName'">
                    <td>{{ user.firstName}}</td>
                    <td>{{ user.lastName}}</td>
                    <td>{{ user.username}}</td>
                    <td>{{ user.email}}</td>
                    <td><button id="{{user.userId}}" ng-click="inviteUserToTeam(team.teamId, user.userId)">invite</button></td>
                </tr>
            </table>

    </div>

    <div id="showBookmarks" style="float: left; display: none; padding: 5px">
        Search: <input type="text" ng-model="filterBookmarks">

        <table border="1">
            <tr>
                <th>Bookmark ID</th>
                <th>Bookmark Name</th>
                <th>Bookmark Description</th>
            </tr>
            <tr ng-repeat="bookmark in bookmarks | filter:filterBookmarks | orderBy:'name'">
                <td>{{ bookmark.bookmarkId }}</td>
                <td>{{ bookmark.name }}</td>
                <td>{{ bookmark.description }}</td>
            </tr>

        </table>

    </div>

</div>