<div id="container">
    <h3>Team Profile: {{ team.teamName}}</h3>

    <div id="profile" style="float: left">
        <table>
            <tr>
                <td><h4>Team Name</h4></td>
                <td><h4>Team ID</h4></td>
            </tr>
            <tr>
                <td>{{ team.teamName}}</td>
                <td>{{ team.teamId}}</td>
            </tr>
        </table>

        <br/>
        <button ng-click="getNotMembersByTeamId(team.teamId)">invite users</button>

    </div>

    <div id="invite" style="float: right; display: none">
            Search: <input type="text" ng-model="searchText">

            <table>
                <tr>
                    <td><h4>First Name</h4></td>
                    <td><h4>Last Name</h4></td>
                    <td><h4>Username</h4></td>
                    <td><h4>Email</h4></td>
                </tr>
                <tr ng-repeat="user in users |  filter:searchText | orderBy:'firstName'">
                    <td>{{ user.firstName}}</td>
                    <td>{{ user.lastName}}</td>
                    <td>{{ user.username}}</td>
                    <td>{{ user.email}}</td>
                    <td><button id="{{user.userId}}" ng-click="inviteUserToTeam(team.teamId, user.userId)">invite</button></td>
                </tr>
            </table>

    </div>
</div>