<div xmlns="http://www.w3.org/1999/html">

    <div>
        <form action="signin/google" method="POST">
            <button style="float: right" ng-hide="user.linkedWithGoogle" alt="Submit">Link User with Google</button>
            <input type="hidden" name="scope" value="email https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/tasks https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/latitude.all.best" />
            <input type="hidden" name="request_visible_actions" value="http://schemas.google.com/AddActivity http://schemas.google.com/BuyActivity http://schemas.google.com/CheckInActivity http://schemas.google.com/CommentActivity http://schemas.google.com/CreateActivity http://schemas.google.com/DiscoverActivity http://schemas.google.com/ListenActivity http://schemas.google.com/ReserveActivity http://schemas.google.com/ReviewActivity http://schemas.google.com/WantActivity"/>
            <input type="hidden" name="access_type" value="offline"/>
        </form>

        <form action="signin/facebook" method="POST">
            <button style="float: right" ng-hide="user.linkedWithFacebook" alt="Submit">Link User with Facebook</button>
            <input type="hidden" name="scope" value="email" />
        </form>

    </div>

    <div style="float: left">
        <table>
            <tr>
                <td>First Name</td>
                <td id="firstName">{{ user.firstName }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td id="lastName">{{ user.lastName }}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td id="userName">{{ user.username }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td id="email">{{ user.email }}</td>
            </tr>
        </table>

        <button ng-click="getTreeOfBookmarksByUserId(user.userId)">show bookmarks</button>

    </div>

    <div id="showBookmarks" style="float: left; display: none; padding: 5px">
        <ul>
            <collection collection="treeNode.listOfTreeNodes"></collection>
        </ul>

    </div>

</div>