<div>

    <div style="float: left">
        <table>
            <tr>
                <td>First Name</td>
                <td id="firstName">{{ user.firstName }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td id="lastName">{{ user.lastName }}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td id="userName">{{ user.username }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td id="email">{{ user.email }}</td>
            </tr>
        </table>

        <button ng-click="getTreeOfBookmarksByUserId(user.userId)">show bookmarks</button>

    </div>

    <div id="showBookmarks" style="float: left; display: none; padding: 5px">
        <ul>
            <collection collection="treeNode.listOfTreeNodes"></collection>
        </ul>

    </div>

</div>