/**
 * Created by vv on 19.01.2015.
 */

.bookmarkName {
  background: url(/resources/img/file.png) no-repeat;
  padding-left: 15px;
}

.folderName {
  background: url(/resources/img/folder.png) no-repeat;
  padding-left: 15px;
}